.user-alert {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.message-box {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;

    font-size: 3em;
}

.message-box button {
    font-size: 1em;
    cursor: pointer;
    height: 85px;
    width: 85px;
    border-radius: 50%;
    color: #AAA;
    background-color: #333;
    outline: none;
}
